<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pengyd.dao.AttendanceMapper">
    <resultMap id="BaseResultMap" type="com.pengyd.bean.Attendance">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="emp_id" property="empId" jdbcType="INTEGER" />
        <result column="attd_state" property="attdState" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        emp_id,
        attd_state,
        create_time
    </sql>


    <insert id="insert" parameterType="com.pengyd.bean.Attendance">
        insert into attendance (
        <include refid="Base_Column_List" />
        )values(
        #{empId,jdbcType=INTEGER},
        #{attdState,jdbcType=INTEGER},
        NOW()
        )
    </insert>

    <insert id="insertByTime" parameterType="com.pengyd.bean.Attendance">
        insert into attendance (
        <include refid="Base_Column_List" />
        )values(
        #{empId,jdbcType=INTEGER},
        #{attdState,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="delete" parameterType="com.pengyd.bean.Attendance">
        delete from attendance
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="id != null and id != ''">
                        id = #{id,jdbcType=INTEGER} and
                    </if>
                    <if test="empId != null and empId != ''">
                        emp_id = #{empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attdState != null and attdState != ''">
                        attd_state = #{attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="createTime != null and createTime != ''">
                        create_time = #{createTime,jdbcType=TIMESTAMP} and
                    </if>
                </trim>
            </where>
        </if>
    </delete>

    <delete id="deleteBatch">
        DELETE FROM attendance WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.pengyd.bean.Attendance">
        update attendance
        <set>
            <if test="empId != null and empId != ''">
                emp_id = #{empId,jdbcType=INTEGER},
            </if>
            <if test="attdState != null and attdState != ''">
                attd_state = #{attdState,jdbcType=INTEGER},
            </if>
            <if test="createTime != null"><!-- and createTime != '' -->
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.pengyd.bean.Attendance">
        select count(*) from attendance
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="id != null and id != ''">
                        id = #{id,jdbcType=INTEGER} and
                    </if>
                    <if test="empId != null and empId != ''">
                        emp_id = #{empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attdState != null and attdState != ''">
                        attd_state = #{attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="createTime != null and createTime != ''">
                        create_time = #{createTime,jdbcType=TIMESTAMP} and
                    </if>
                </trim>
            </where>
        </if>
    </select>

    <select id="selectData" resultMap="BaseResultMap" parameterType="com.pengyd.bean.Attendance">
        select id,
        <include refid="Base_Column_List" />
        from attendance
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="attendance.id != null and attendance.id != ''">
                        id = #{attendance.id,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.empId != null and attendance.empId != ''">
                        emp_id = #{attendance.empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.attdState != null and attendance.attdState != ''">
                        attd_state = #{attendance.attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.createTime != null and attendance.createTime != ''">
                        create_time = #{attendance.createTime,jdbcType=TIMESTAMP} and
                    </if>
                </trim>
            </where>
        </if>
        order by ${order_by} desc limit #{limit} offset #{offset}
    </select>

    <select id="selectRelationCount" resultType="java.lang.Integer" parameterType="com.pengyd.bean.Attendance">
        select count(*) from attendance
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="id != null and id != ''">
                        id = #{id,jdbcType=INTEGER} and
                    </if>
                    <if test="empId != null and empId != ''">
                        emp_id = #{empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attdState != null and attdState != ''">
                        attd_state = #{attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="createTime != null and createTime != ''">
                        create_time = #{createTime,jdbcType=TIMESTAMP} and
                    </if>
                </trim>
            </where>
        </if>
    </select>

    <select id="selectRelationData" resultType="java.util.Map" parameterType="com.pengyd.bean.Attendance">
        select xtx.*, e.realname
        from attendance xtx, employee e
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="attendance.id != null and attendance.id != ''">
                        xtx.id = #{attendance.id,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.empId != null and attendance.empId != ''">
                        xtx.emp_id = #{attendance.empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.attdState != null and attendance.attdState != ''">
                        xtx.attd_state = #{attendance.attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.createTime != null and attendance.createTime != ''">
                        xtx.create_time = #{attendance.createTime,jdbcType=TIMESTAMP} and
                    </if>
                    xtx.emp_id = e.id and
                </trim>
            </where>
        </if>
        order by xtx.${order_by} desc limit #{limit} offset #{offset}
    </select>

    <select id="selectRelationCountByEmpRealname" resultType="java.lang.Integer" parameterType="com.pengyd.bean.Attendance">
        select count(*) from
        (
        select xtx.*, e.realname
        from attendance xtx, employee e
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="attendance.id != null and attendance.id != ''">
                        xtx.id = #{attendance.id,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.empId != null and attendance.empId != ''">
                        xtx.emp_id = #{attendance.empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.attdState != null and attendance.attdState != ''">
                        xtx.attd_state = #{attendance.attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.createTime != null and attendance.createTime != ''">
                        xtx.create_time = #{attendance.createTime,jdbcType=TIMESTAMP} and
                    </if>

                    <if test="createTimeStr != null and createTimeStr != ''">
                        xtx.create_time &gt;= '${createTimeStr} 00:00:00' and
                        xtx.create_time &lt;= '${createTimeStr} 23:59:59' and
                    </if>

                    xtx.emp_id = e.id and
                    <if test="empRealname != null and empRealname != ''">
                        e.realname LIKE CONCAT(CONCAT('%', #{empRealname,jdbcType=VARCHAR}), '%') and
                    </if>
                </trim>
            </where>
        </if>
        ) a
    </select>

    <select id="selectRelationDataByEmpRealname" resultType="java.util.Map" parameterType="com.pengyd.bean.Attendance">
        select xtx.*, e.realname
        from attendance xtx, employee e
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="attendance.id != null and attendance.id != ''">
                        xtx.id = #{attendance.id,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.empId != null and attendance.empId != ''">
                        xtx.emp_id = #{attendance.empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.attdState != null and attendance.attdState != ''">
                        xtx.attd_state = #{attendance.attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.createTime != null and attendance.createTime != ''">
                        xtx.create_time = #{attendance.createTime,jdbcType=TIMESTAMP} and
                    </if>

                    <if test="createTimeStr != null and createTimeStr != ''">
                        xtx.create_time &gt;= '${createTimeStr} 00:00:00' and
                        xtx.create_time &lt;= '${createTimeStr} 23:59:59' and
                    </if>

                    xtx.emp_id = e.id and
                    <if test="empRealname != null and empRealname != ''">
                        e.realname LIKE CONCAT(CONCAT('%', #{empRealname,jdbcType=VARCHAR}), '%') and
                    </if>
                </trim>
            </where>
        </if>
        order by xtx.${order_by} desc limit #{limit} offset #{offset}
    </select>

    <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.pengyd.bean.Attendance">
        select id,
        <include refid="Base_Column_List" />
        from attendance
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="attendance.id != null and attendance.id != ''">
                        id = #{attendance.id,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.empId != null and attendance.empId != ''">
                        emp_id = #{attendance.empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.attdState != null and attendance.attdState != ''">
                        attd_state = #{attendance.attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.createTime != null and attendance.createTime != ''">
                        create_time = #{attendance.createTime,jdbcType=TIMESTAMP} and
                    </if>
                </trim>
            </where>
        </if>
        order by ${order_by} desc
    </select>

    <select id="selectByNowDateStr" resultMap="BaseResultMap" parameterType="com.pengyd.bean.Attendance">
        select id,
        <include refid="Base_Column_List" />
        from attendance
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="attendance.id != null and attendance.id != ''">
                        id = #{attendance.id,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.empId != null and attendance.empId != ''">
                        emp_id = #{attendance.empId,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.attdState != null and attendance.attdState != ''">
                        attd_state = #{attendance.attdState,jdbcType=INTEGER} and
                    </if>
                    <if test="attendance.createTime != null and attendance.createTime != ''">
                        create_time = #{attendance.createTime,jdbcType=TIMESTAMP} and
                    </if>

                    <if test="nowDateStr != null and nowDateStr != ''">
                        create_time &gt; '${nowDateStr} 00:00:00' and
                    </if>

                </trim>
            </where>
        </if>
    </select>

    <select id="selectEmpIdsByCreateTime" resultType="java.lang.Integer">
        SELECT emp_id
        FROM attendance
        <if test="_parameter != null">
            <where>
                <trim suffixOverrides="and">
                    <if test="createTime != null and createTime != ''">
                        create_time &gt;= '${createTime} 00:00:00' and
                        create_time &lt;= '${createTime} 23:59:59' and
                    </if>
                </trim>
            </where>
        </if>
        ORDER BY emp_id ASC
    </select>



</mapper>